/* Color Scheme
Pink Shadow: #D8BEB3
Jasper Stone: #8D9891
Indigo Bath: #4A5A68
FireWeed: #78342C
Copper: #B17049
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 3fr 2fr 0.25fr;
  grid-template-areas:
    "header"
    "img"
    "content"
    "footer";
}

body {
  font-family: "Crimson Text", serif;
  margin: 0;
  height: 100%;
}

h1 {
  color: #b17049;
}

.myHeader {
  grid-area: header;
  /* background-color: aqua; */
}

/* .img .content .footer {
  display: flex;
  align-content: center;
} */

.img {
  grid-area: img;
  display: flex;
  align-content: center;
  /* background-color: blueviolet; */
}

.profile {
  width: 400px;
  height: 400px;
  border-radius: 50%;
  margin: 5% auto;
}

.content {
  grid-area: content;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
  margin-left: 20px;
  margin-right: 20px;
  /* margin-top: 150px;
  margin-right: 30px; */
  /* background-color: crimson; */
}

footer {
  grid-area: footer;
  text-align: center;
  /* background-color: darkgreen; */
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-light .navbar-nav .nav-link {
  animation: fadein 3s;
  color: #78342c;
}

.navbar-light .navbar-nav .active > .nav-link {
  text-decoration: underline;
  color: #4a5a68;
}

button:focus {
  outline: #8d9891;
}
.navbar-light .navbar-brand {
  color: #78342c;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Julius Sans One", sans-serif;
  animation: fadein 2s;
  transition: opacity 2s ease-in;
}

.navbar-light .navbar-brand:hover {
  color: #b17049;
}

i {
  font-size: 25px;
  color: #78342c;
  margin-right: 20px;
  margin-left: 20px;
}

i:hover {
  color: #b17049;
}

footer .a {
  color: #8d9891;
}

.top {
  background-image: url(https://media.giphy.com/media/xUA7aOwHM0Z6OwuTq8/giphy.gif);
  background-size: cover;
  margin: 0;
  position: relative;
  width: 100%;
  background-color: white;
  height: 100%;
  opacity: 1;
  text-align: center;
  font-family: "helvetica";
  font-size: 80px;
  font-weight: 100;
  color: black;
}

.title {
  position: absolute;
  top: 10%;
  left: 0px;
  color: #78342c;
  font-size: 80px;
  letter-spacing: 2px;
  font-family: "Julius Sans One", sans-serif;
}

@media (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 2fr 0.25fr;
    grid-template-areas:
      "header header"
      "img content"
      "footer footer";
  }

  footer {
    margin-top: 60px;
  }
  .content {
    margin-top: 100px;
    margin-right: 50px;
  }
}

@media (max-width: 1200px) {
}
