/* Color Scheme
Pink Shadow: #D8BEB3
Jasper Stone: #8D9891
Indigo Bath: #4A5A68
FireWeed: #78342C
Copper: #B17049
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 7fr 0.25fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

body {
  font-family: "Tenor Sans", sans-serif;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  background-image: url(./../images/fe364d1abae04c53efdcf51a95c34874.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}

.logo {
  height: 50px;
  width: auto;
}

h1 {
  color: #b17049;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.myHeader {
  grid-area: header;
}

.content {
  grid-area: content;
  text-align: center;
  padding-left: 20px;
  padding-right: 20px;
}

footer {
  grid-area: footer;
  text-align: center;
  margin-bottom: 30px;
}

/*nav fade in animation*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-light .navbar-nav .nav-link {
  animation: fadein 3s;
  color: #78342c;
}

.navbar-light .navbar-nav .active > .nav-link {
  text-decoration: underline;
  color: #4a5a68;
}

button:focus {
  outline: #8d9891;
}

/*nav transition timing*/

.navbar-light .navbar-brand {
  color: #78342c;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Julius Sans One", sans-serif;
  animation: fadein 2s;
  transition: opacity 2s ease-in;
}

.navbar-light .navbar-brand:hover {
  color: #b17049;
}

i {
  font-size: 25px;
  color: #78342c;
  margin-right: 20px;
  margin-left: 20px;
}

i:hover {
  color: #b17049;
}

footer .a {
  color: #8d9891;
}

/*form*/

input[type="text"],
select,
textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  resize: vertical;
}

label {
  color: #78342c;
}

input[type="submit"] {
  background-color: #8d9891;
  color: white;
  padding: 12px 30px;
  border: none;
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: #b17049;
}

.content {
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: left;
  margin: 20px 10% 30px 10%;
  opacity: 0.9;
}

/*tablet*/

@media (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 5fr 0.25fr;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
  }

  footer {
    margin-top: 60px;
    margin-bottom: 30px;
  }
  .content {
    margin: 10px 20% 20px 20%;
  }
}

/*web*/

@media (min-width: 1200px) {
  .content {
    margin: 10px 20% 20px 20%;
  }
}
