/* Color Scheme
Pink Shadow: #D8BEB3
Jasper Stone: #8D9891
Indigo Bath: #4A5A68
FireWeed: #78342C
Copper: #B17049
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 4fr 0.5fr;
  grid-template-areas:
    "header"
    "div-1"
    "footer";
}

img {
  max-width: 80%;
  border-radius: 2%;
}

.logo {
  height: 50px;
  width: auto;
}

body {
  font-family: "Tenor Sans", sans-serif;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
  text-align: center;
  /* background-image: url(./../images/fe364d1abae04c53efdcf51a95c34874.jpg); */
  background-repeat: no-repeat;
  background-size: cover;
}

h1 {
  font-family: "Tenor Sans", sans-serif;
  color: #b17049;
  text-align: center;
  font-size: 50px;
}

h2 {
  padding-bottom: 20px;
  color: #78342c;
  font-family: "Julius Sans One", sans-serif;
  font-size: 25px;
  font-weight: bolder;
}

h3 {
  font-size: 20px;
  font-family: "Tenor Sans", sans-serif;
}

h4 {
  font-family: "Julius Sans One", sans-serif;
  font-size: 15px;
}

.job {
  font-size: 30px;
}

.title {
  font-size: 40px;
  margin-top: 30%;
}

.myHeader {
  grid-area: header;
}

li {
  text-align: left;
}

h1 {
  text-align: center;
  letter-spacing: 5px;
  font-size: 70px;
}

.div-one {
  grid-area: div-1;
  text-align: center;
  background-color: #f8f9fa;
  margin-right: 10%;
  margin-left: 10%;
  padding-top: 20px;
}

.div-two {
  grid-area: div-2;
  text-align: left;
  margin-left: 20%;
  padding-right: 10px;
  padding-left: 50px;
  background-color: #f8f9fa;
}

.div-three {
  grid-area: div-3;
  text-align: left;
  padding: 0px 10px 0px 30px;
  margin-right: 20%;
  border-left: 2px solid #d8beb3;
  background-color: #f8f9fa;
}

.image {
  width: 90%;
  height: auto;
  margin-bottom: 30px;
  border: 10px solid #8d9891;
  border-radius: 10%;
  max-width: 350px;
}

footer {
  grid-area: footer;
  text-align: center;
  margin-top: 60px;
  margin-bottom: 20px;
}

/* nav animation*/

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-light .navbar-nav .nav-link {
  animation: fadein 3s;
  color: #78342c;
}

.navbar-light .navbar-nav .active > .nav-link {
  text-decoration: underline;
  color: #4a5a68;
}

button:focus {
  outline: #8d9891;
}

.navbar-light .navbar-brand {
  color: #78342c;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Tenor Sans", sans-serif;
  animation: fadein 2s;
  transition: opacity 2s ease-in;
}

.navbar-light .navbar-brand:hover {
  color: #b17049;
}

i {
  font-size: 25px;
  color: #78342c;
  margin-right: 20px;
  margin-left: 20px;
}

i:hover {
  color: #b17049;
}

footer .a {
  color: #8d9891;
}

/*tablet*/

@media (max-width: 900px) {
  .div-one {
    margin-right: 5%;
    margin-left: 5%;
  }

  .div-two {
    margin-left: 10%;
  }

  .div-three {
    margin-right: 10%;
  }
}

/*mobile*/
@media (max-width: 600px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 0.5fr 1fr 3fr 3fr 0.25fr;
    grid-template-areas:
      "header"
      "div-1"
      "div-2"
      "div-3"
      "footer";
  }

  .div-one {
    margin-right: 5%;
    margin-left: 5%;
    padding: auto;
  }

  .div-two {
    margin-left: 5%;
    margin-right: 5%;
  }

  .div-three {
    margin-right: 5%;
    margin-left: 5%;
  }
}
