/* Color Scheme
Pink Shadow: #D8BEB3
Jasper Stone: #8D9891
Indigo Bath: #4A5A68
FireWeed: #78342C
Copper: #B17049
*/

.grid-container {
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 0.5fr 7fr 0.25fr;
  grid-template-areas:
    "header"
    "content"
    "footer";
}

body {
  font-family: "Crimson Text", serif;
  margin: 0;
  height: 100%;
  box-sizing: border-box;
}

h1 {
  color: #b17049;
  text-align: center;
  font-size: 50px;
}

h2 {
  text-align: center;
  padding-bottom: 20px;
}

.myHeader {
  grid-area: header;
  /* background-color: aqua; */
}

.content {
  grid-area: content;
  margin-top: 20px;
}

/* .content {
  border-radius: 5px;
  background-color: #f8f9fa;
  padding: 20px;
  text-align: left;
  margin: 20px 10% 30px 10%;
} */

footer {
  grid-area: footer;
  text-align: center;
  margin-top: 40px;
  /* background-color: darkgreen; */
}

.gallery-wrap {
  grid-area: item;
  display: flex;
  flex-direction: row;
  width: 90%;
  height: 75vh;
  margin-left: 5%;
  margin-right: 5%;
}

.item {
  flex: 1;
  /* height: 100%; */
  background-position: center;
  background-size: cover;
  background-repeat: none;
  transition: flex 3s ease;
}

.item:hover {
  flex: 4;
}

.item-1 {
  background-image: url("./../images/photo-1455894127589-22f75500213a.jpeg");
}

.item-2 {
  background-image: url("./../images/photo-1500051638674-ff996a0ec29e.jpeg");
}

.item-3 {
  background-image: url("./../images/photo-1533907650686-70576141c030.jpeg");
}

.item-4 {
  background-image: url("./../images/photo-1594038658121-219eda06322c.jpeg");
}

img {
  display: block;
  width: 32px;
}

@keyframes fadein {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

.navbar-light .navbar-nav .nav-link {
  animation: fadein 3s;
  color: #78342c;
}

.navbar-light .navbar-nav .active > .nav-link {
  text-decoration: underline;
  color: #4a5a68;
}

button:focus {
  outline: #8d9891;
}

.navbar-light .navbar-brand {
  color: #78342c;
  font-size: 30px;
  letter-spacing: 2px;
  font-family: "Julius Sans One", sans-serif;
  animation: fadein 2s;
  transition: opacity 2s ease-in;
}

.navbar-light .navbar-brand:hover {
  color: #b17049;
}

i {
  font-size: 25px;
  color: #78342c;
  margin-right: 20px;
  margin-left: 20px;
}

i:hover {
  color: #b17049;
}

footer .a {
  color: #8d9891;
}

@media (min-width: 900px) {
  .grid-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 0.5fr 4fr 0.25fr;
    grid-template-areas:
      "header header"
      "content content"
      "footer footer";
  }

  footer {
    margin-top: 25px;
  }

  .content {
    margin: 20px 10% 20px 10%;
  }
}

@media (min-width: 1200px) {
  .content {
    margin: 10px 10% 10px 10%;
  }

  footer {
    margin-top: 30px;
  }
}
